@charset "UTF-8";
/*
* 일반적인 특수문자 (Common Symbols) 
unicode-range: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;
* 모든 기본 다국어 평면 (영어 해당) 
unicode-range: U+0000-FFFF;
* 한글 범위 설정
unicode-range: U+AC00-D7AF; 
*/
@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR"), local("NotoSansKR-Thin"), url("../fonts/NotoSansKR-Thin.ttf") format("truetype"), url("../fonts/NotoSansKR-Thin.woff") format("woff"); /* 서브셋 파일 경로 */
  font-weight: 100;
  font-style: normal;
  unicode-range: U+0000-FFFF; /* 사용할 글자 범위 설정 */
}
@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR"), local("NotoSansKR-Light"), url("../fonts/NotoSansKR-Light.ttf") format("truetype"), url("../fonts/NotoSansKR-Light.woff") format("woff"); /* 서브셋 파일 경로 */
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0000-FFFF; /* 사용할 글자 범위 설정 */
}
@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR"), local("NotoSansKR-Regular"), url("../fonts/NotoSansKR-Regular.ttf") format("truetype"), url("../fonts/NotoSansKR-Regular.woff") format("woff"); /* 서브셋 파일 경로 */
  font-weight: 400;
  font-style: normal;
  unicode-range: U+0000-FFFF; /* 사용할 글자 범위 설정 */
}
@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR"), local("NotoSansKR-Medium"), url("../fonts/NotoSansKR-Medium.ttf") format("truetype"), url("../fonts/NotoSansKR-Medium.woff") format("woff"); /* 서브셋 파일 경로 */
  font-weight: 500;
  font-style: normal;
  unicode-range: U+0000-FFFF; /* 사용할 글자 범위 설정 */
}
@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR"), local("NotoSansKR-Bold"), url("../fonts/NotoSansKR-Bold.ttf") format("truetype"), url("../fonts/NotoSansKR-Bold.woff") format("woff"); /* 서브셋 파일 경로 */
  font-weight: 700;
  font-style: normal;
  unicode-range: U+0000-FFFF; /* 사용할 글자 범위 설정 */
}
@font-face {
  font-family: "Noto Sans KR";
  src: local("Noto Sans KR"), local("NotoSansKR-Black"), url("../fonts/NotoSansKR-Black.ttf") format("truetype"), url("../fonts/NotoSansKR-Black.woff") format("woff"); /* 서브셋 파일 경로 */
  font-weight: 900;
  font-style: normal;
  unicode-range: U+0000-FFFF; /* 사용할 글자 범위 설정 */
}
h6, h5, h4, h3, h2, h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
  color: var(--ito-heading-color);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --ito-body-font-family: "Noto Sans KR", sans-serif;
  --ito-body-font-size: 1rem;
  --ito-body-font-weight: 400;
  --ito-body-line-height: 1.5;
  --ito-body-color: #444444;
  --ito-body-text-align: null;
  --ito-body-bg: #fff;
  --ito-heading-color: inherit;
  --ito-h1-font-size: 2.5rem;
  --ito-h2-font-size: 2rem;
  --ito-h3-font-size: 1.75rem;
  --ito-h4-font-size: 1.5rem;
  --ito-h5-font-size: 1.25rem;
  --ito-h6-font-size: 1rem;
  --ito-gnb-size: 80px;
  --ito-aside-width: 220px;
  --ito-contents-width: 1200px;
  --ito-wrapper-width: 1420px;
}

* {
  font-family: var(--ito-body-font-family);
  color: var(--ito-body-color);
}

*:focus-visible {
  outline: 2px solid #FFD255;
  border-radius: 1px;
  outline-offset: -2px;
}

html, body {
  height: 100%;
}
html .wrapper, html .wrap, html .aside, html .contents, body .wrapper, body .wrap, body .aside, body .contents {
  height: inherit;
}

body {
  margin: 0;
  font-family: var(--ito-body-font-family);
  font-style: normal;
  font-weight: var(--ito-body-font-weight);
  line-height: var(--ito-body-line-height);
  font-size: var(--ito-body-font-size);
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  white-space: normal;
  word-spacing: normal;
  line-break: auto;
  background-color: var(--ito-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
  font-size: var(--ito-h1-font-size);
}

h2 {
  font-size: var(--ito-h2-font-size);
}

h3 {
  font-size: var(--ito-h3-font-size);
}

h4 {
  font-size: var(--ito-h4-font-size);
}

h5 {
  font-size: var(--ito-h5-font-size);
}

h6 {
  font-size: var(--ito-h6-font-size);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
a:hover, a:focus {
  color: #00854A;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.under {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.skip-nav {
  position: absolute;
  top: -44px;
  width: 100%;
  display: block;
  z-index: 1000;
}
.skip-nav a {
  position: absolute;
  top: -44px;
  z-index: 1000;
  width: 100%;
  height: 44px;
  background-color: #4B745F;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.skip-nav a:focus {
  top: 0;
  -webkit-transform: translateY(44px);
          transform: translateY(44px);
}
.skip-nav a:focus-visible {
  outline: none;
}

.wrapper {
  position: relative;
  padding-top: var(--ito-gnb-size);
  min-width: var(--ito-wrapper-width);
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.contents {
  --ito-gutter-x: 180px;
  --ito-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--ito-gutter-x) * 0.5);
  padding-left: calc(var(--ito-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  min-width: var(--ito-contents-width);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 40px;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--ito-gnb-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 90px;
  border-bottom: 1px solid #00854A;
}
header img {
  display: block;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header ul li {
  margin-left: 80px;
}
header ul li.on a {
  color: #00854A;
  font-weight: 700;
}
header ul li.on a::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
header a {
  position: relative;
  display: block;
  height: var(--ito-gnb-size);
  line-height: var(--ito-gnb-size);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header a:hover, header a:focus {
  color: #00854A;
  font-weight: 700;
}
header a::after {
  position: absolute;
  content: "";
  top: calc(100% - 4px);
  left: 0;
  width: 100%;
  height: 3px;
  background: #00854A;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
header a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.aside {
  position: relative;
  width: 220px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #4B745F;
  color: #fff;
}
.aside h2 {
  padding: 40px 40px 44px;
  border-bottom: 1px solid #729E88;
  font-size: 23px;
  font-weight: 700;
}
.aside nav {
  padding: 30px;
}
.aside nav li {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
}
.aside nav li.on a,
.aside nav li a:hover, .aside nav li a:focus {
  color: #fff;
}
.aside nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #A9FED3;
  letter-spacing: -0.04rem;
}

.table {
  position: relative;
  width: 100%;
  table-layout: fixed;
}
.table caption {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.table caption:not(caption) {
  position: absolute !important;
}
.table a:hover, .table a:focus {
  text-decoration: underline;
}
.table.spacing {
  width: calc(100% + 10px);
  margin-left: -5px;
  border-collapse: separate;
  border-spacing: 5px 10px;
}
.table.spacing::after {
  position: absolute;
  content: "";
  width: calc(100% - 10px);
  left: 5px;
  top: 0;
  height: 2px;
  background-color: #00854A;
}
.table.spacing th {
  text-align: center;
}
.table.spacing thead th {
  padding: 10px 0;
  font-weight: 500;
}
.table.spacing tbody th, .table.spacing tbody td {
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  line-height: 30px;
}
.table.spacing tbody th {
  padding: 25px 10px;
  font-weight: 600;
  color: #00854A;
  background-color: #F2FCF7;
}
.table.spacing tbody td {
  padding: 25px 15px;
  font-size: 14px;
}
.table.spacing a, .table.spacing samp {
  display: block;
}
.table.spacing a {
  font-weight: 700;
}

.i-25 {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
}

.green-r-arrow {
  background-image: url("../images/icons/icon-polygon.png");
}

.i-aside {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
}
.i-aside.nav0101 {
  background-image: url("../images/aside-nav/nav01-01.png");
}
.i-aside.nav0102 {
  background-image: url("../images/aside-nav/nav01-02.png");
}
.i-aside.nav0103 {
  background-image: url("../images/aside-nav/nav01-03.png");
}
.i-aside.nav0104 {
  background-image: url("../images/aside-nav/nav01-04.png");
}
.i-aside.nav0105 {
  background-image: url("../images/aside-nav/nav01-05.png");
}
.i-aside.nav0201 {
  background-image: url("../images/aside-nav/nav02-01.png");
}
.i-aside.nav0202 {
  background-image: url("../images/aside-nav/nav02-02.png");
}
.i-aside.nav0203 {
  background-image: url("../images/aside-nav/nav02-03.png");
}
.i-aside.nav0204 {
  background-image: url("../images/aside-nav/nav02-04.png");
}
.i-aside.nav0205 {
  background-image: url("../images/aside-nav/nav02-05.png");
}
.i-aside.nav0206 {
  background-image: url("../images/aside-nav/nav02-06.png");
}
.i-aside.nav0207 {
  background-image: url("../images/aside-nav/nav02-07.png");
}
.i-aside.nav0208 {
  background-image: url("../images/aside-nav/nav02-08.png");
}
.i-aside.nav0301 {
  background-image: url("../images/aside-nav/nav03-01.png");
}
.i-aside.nav0401 {
  background-image: url("../images/aside-nav/nav04-01.png");
}

.aside a:hover .i-aside.nav0101,
.aside a:focus-visible .i-aside.nav0101,
.on .i-aside.nav0101 {
  background-image: url("../images/aside-nav/nav01-01-on.png");
}
.aside a:hover .i-aside.nav0102,
.aside a:focus-visible .i-aside.nav0102,
.on .i-aside.nav0102 {
  background-image: url("../images/aside-nav/nav01-02-on.png");
}
.aside a:hover .i-aside.nav0103,
.aside a:focus-visible .i-aside.nav0103,
.on .i-aside.nav0103 {
  background-image: url("../images/aside-nav/nav01-03-on.png");
}
.aside a:hover .i-aside.nav0104,
.aside a:focus-visible .i-aside.nav0104,
.on .i-aside.nav0104 {
  background-image: url("../images/aside-nav/nav01-04-on.png");
}
.aside a:hover .i-aside.nav0105,
.aside a:focus-visible .i-aside.nav0105,
.on .i-aside.nav0105 {
  background-image: url("../images/aside-nav/nav01-05-on.png");
}
.aside a:hover .i-aside.nav0201,
.aside a:focus-visible .i-aside.nav0201,
.on .i-aside.nav0201 {
  background-image: url("../images/aside-nav/nav02-01-on.png");
}
.aside a:hover .i-aside.nav0202,
.aside a:focus-visible .i-aside.nav0202,
.on .i-aside.nav0202 {
  background-image: url("../images/aside-nav/nav02-02-on.png");
}
.aside a:hover .i-aside.nav0203,
.aside a:focus-visible .i-aside.nav0203,
.on .i-aside.nav0203 {
  background-image: url("../images/aside-nav/nav02-03-on.png");
}
.aside a:hover .i-aside.nav0204,
.aside a:focus-visible .i-aside.nav0204,
.on .i-aside.nav0204 {
  background-image: url("../images/aside-nav/nav02-04-on.png");
}
.aside a:hover .i-aside.nav0205,
.aside a:focus-visible .i-aside.nav0205,
.on .i-aside.nav0205 {
  background-image: url("../images/aside-nav/nav02-05-on.png");
}
.aside a:hover .i-aside.nav0206,
.aside a:focus-visible .i-aside.nav0206,
.on .i-aside.nav0206 {
  background-image: url("../images/aside-nav/nav02-06-on.png");
}
.aside a:hover .i-aside.nav0207,
.aside a:focus-visible .i-aside.nav0207,
.on .i-aside.nav0207 {
  background-image: url("../images/aside-nav/nav02-07-on.png");
}
.aside a:hover .i-aside.nav0208,
.aside a:focus-visible .i-aside.nav0208,
.on .i-aside.nav0208 {
  background-image: url("../images/aside-nav/nav02-08-on.png");
}
.aside a:hover .i-aside.nav0301,
.aside a:focus-visible .i-aside.nav0301,
.on .i-aside.nav0301 {
  background-image: url("../images/aside-nav/nav03-01-on.png");
}
.aside a:hover .i-aside.nav0401,
.aside a:focus-visible .i-aside.nav0401,
.on .i-aside.nav0401 {
  background-image: url("../images/aside-nav/nav04-01-on.png");
}

dialog {
  position: relative;
  width: 500px;
  max-width: 80%;
  padding: 0;
  border: 0;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
dialog.dialog-md .body {
  max-height: 500px;
  overflow-y: auto;
}
dialog::-ms-backdrop {
  background: rgba(0, 0, 0, 0.5);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
dialog .btn {
  width: 120px;
  height: 40px;
  line-height: 38px;
  padding: 0;
}
dialog input {
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  border: 1px solid #acacac;
  color: #444;
  font-size: 14px;
}
dialog input::-webkit-input-placeholder {
  color: #cbcbcb;
}
dialog input::-moz-placeholder {
  color: #cbcbcb;
}
dialog input:-ms-input-placeholder {
  color: #cbcbcb;
}
dialog input::-ms-input-placeholder {
  color: #cbcbcb;
}
dialog input::placeholder {
  color: #cbcbcb;
}
dialog .header {
  position: relative;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #E7E7E7;
}
dialog .header h1 {
  font-size: 22px;
  font-weight: bold;
}
dialog .header .dialog-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  text-indent: -9999px !important;
  font-size: 0 !important;
  color: transparent !important;
  overflow: hidden !important;
  background: transparent url("../images/dialog/dialog-close.png") center center/100% 100% no-repeat;
}
dialog .body {
  padding: 30px 30px 0 30px;
}
dialog .body .guide-text {
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
}
dialog .body .guide-text strong, dialog .body .guide-text span {
  display: block;
}
dialog .body .guide-text strong {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #00854A;
}
dialog .body .field {
  margin-bottom: 20px;
}
dialog .body .field:last-child {
  margin-bottom: 0;
}
dialog .body .field label {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: bold;
}
dialog .body .result-area {
  margin-top: 70px;
  margin-bottom: 60px;
}
dialog .body .result-area img {
  display: block;
  margin: 0 auto 30px;
  width: 70px;
}
dialog .body .result-area strong {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 23px;
}
dialog .footer {
  width: 100%;
  padding: 40px 0;
  text-align: center;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
fieldset legend {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
fieldset legend:not(caption) {
  position: absolute !important;
}
fieldset .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: normal;
  -ms-flex-align: normal;
  align-items: normal;
}

.selectric-items {
  width: 100% !important;
  margin-top: -1px;
  border-radius: 5px;
  background-color: #fff;
}
.selectric-items li {
  padding-left: 20px;
  font-size: 14px;
}
.selectric-items li.highlighted {
  background-color: #E7E7E7;
}
.selectric-items li:hover {
  background-color: #E7E7E7;
}

.selectric {
  border-radius: 5px;
  background-color: #fff;
  border-color: #a4a4a4;
}
.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 14px;
  line-height: 38px;
  color: #444444;
  height: 38px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 40px 0 20px;
}
.selectric .button {
  background-color: transparent;
}
.selectric .button::after {
  width: auto;
  height: auto;
  border: none;
  background: transparent url("../images/common/ico-selectric.png") center center/13px 7px no-repeat;
}

.selectric-disabled {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}
.selectric-disabled .selectric .label {
  background-color: #E7E7E7;
}

.btn {
  min-width: 80px;
  padding: 0 14px;
  height: 30px;
  line-height: 28px;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  color: #fff;
}
.btn.primary {
  background-color: #00854A;
}
.btn.normal {
  background-color: #a4a4a4;
}
.btn.weightly {
  background-color: #da4725;
}
.btn + .btn {
  margin-left: 8px;
}

.go-user {
  position: absolute;
  left: 30px;
  bottom: 50px;
  width: 160px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #50CD8E;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #729E88;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: #E7E7E7;
}

*::-webkit-scrollbar-thumb {
  background-color: #729E88;
  border-radius: 10px;
  border: 0px none transparent;
}

.cf::after {
  display: block;
  clear: both;
  content: "";
}

.blind {
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.blind:not(caption) {
  position: absolute !important;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0;
  font-size: 21px;
  font-weight: 700;
  color: #00854A;
  line-height: 30px;
}
.content-title .btn-wrap {
  position: absolute;
  right: 0;
}
.content-title .color-info {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.content-title .color-info li {
  position: relative;
  font-size: 13px;
  line-height: 22px;
  font-weight: 500;
  padding: 0 10px 0 18px;
  margin-left: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.content-title .color-info li::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  margin-top: -11px;
  width: 10px;
  height: 22px;
}
.content-title .color-info li.red::after {
  background-color: #E76222;
}
.content-title .color-info li.yellow::after {
  background-color: #FFD255;
}
.content-title .color-info li.blue::after {
  background-color: #0EB0E6;
}
.content-title .color-info li.green::after {
  background-color: #45ac4b;
}

.table-error {
  padding: 90px 0;
  border-top: 2px solid #00854A;
  text-align: center;
}
.table-error img {
  width: 70px;
  display: block;
  margin: 0 auto 30px;
}
.table-error p {
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
}

.roadmap-wrapper {
  margin-bottom: 40px;
  border-top: 2px solid #00854a;
}
.roadmap-wrapper h4 {
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.roadmap-wrapper .roadmap-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: -5px;
}
.roadmap-wrapper .items {
  width: calc(20% - 5px);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 5px;
  margin-bottom: 20px;
  background-color: #f2fcf7;
}
.roadmap-wrapper .items:last-child {
  margin-right: 0;
}
.roadmap-wrapper .items .title {
  padding: 14px 0;
  line-height: 22px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #00854a;
}
.roadmap-wrapper .items .details {
  padding: 10px 10px 0 10px;
}
.roadmap-wrapper .items .details strong {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #00854a;
}
.roadmap-wrapper .items .listbox {
  display: none;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
}
.roadmap-wrapper .items .listbox::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  left: 0;
  top: 0;
}
.roadmap-wrapper .items .listbox.red::after {
  background-color: #E76222;
}
.roadmap-wrapper .items .listbox.yellow::after {
  background-color: #FFD255;
}
.roadmap-wrapper .items .listbox.blue::after {
  background-color: #0EB0E6;
}
.roadmap-wrapper .items .listbox.green::after {
  background-color: #45ac4b;
}
.roadmap-wrapper .items .listbox li {
  position: relative;
  margin-left: 10px;
  font-size: 15px;
  line-height: 22px;
}
.roadmap-wrapper .items .listbox li::after {
  position: absolute;
  content: "-";
  left: -10px;
  top: 0;
}
.roadmap-wrapper .items .listbox li a {
  display: block;
}

.thumbnail {
    display: none;
    position: absolute;
    width: 300px;
    height: 320px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 10;
}

a:hover + .thumbnail {
    display: block;
}
@media (max-width: 1421px) {
  .table.spacing tbody td {
    font-size: 13px;
  }
}